<a href="{{ item.link }}" class="card card--product">
    <div class="card-header">
        <div class="card-header-img">
            {% set image_format = "card-thumbnail" %}
            {% set img = item.meta('img') %}
            {% include 'blocks/image.twig' %}
        </div>
    </div>
    <div class="card-body">
        <div>
            <h3>{{ item.name }}</h3>
            <div class="terms">
                {% set tax = item.terms('type-de-produits') | wp_list_filter({ parent: null }) %}
                {% if tax %}
				<p>{% include 'static/icons/filter.svg' %} {{ tax | join(', ') }}
                {% endif %}

                {% set tax = item.terms('fournisseur') | wp_list_filter({ parent: null }) %}
                {% if tax %}
				<p>{% include 'static/icons/truck.svg' %} {{ tax | join(', ') }}
                {% endif %}
            </div>
        </div>
        {% include 'static/icons/info-square.svg' %}
    </div>
</a>