{% if projects %}
<section class="section_projects {{ section_classes }} hidden-animate">
    <div class="wrapper">
        <div class="section_projects-text">
            {% set block = p.type != "page" ? g['projet_' ~ p.type]['content'] : p.meta('projects_content') %}
            {% set block = block_slug != '' ? p.meta(block_slug).content : block %}
            {% include 'blocks/content-block.twig' %}
        </div>

        {% set has_no_projects = p.projects_has_rel is empty ? true : false %}
        {% if not p.projects_has_rel %}
        <div class="section_projects-img">
            {% set img = p.meta('projects_img') %}
            {% include 'blocks/image.twig' %}
        </div>
        {% else %}
        <div class="section_projects-slider">
            {% include 'blocks/projects-slider.twig' %}
        </div>
        {% endif %}
    </div>
</section>
{% endif %}
{% set switch_section_projects = false %}
{% set section_classes = empty %}
{% set block_slug = empty %}